### LIST AND ITS DEFAULT FUNCTIONS.

In [5]:
lst=["meena","varshini","vd","YUVI",123,[1,6,7]]

In [6]:
lst

['meena', 'varshini', 'vd', 'YUVI', 123, [1, 6, 7]]

In [7]:
lst[2]

'vd'

In [15]:
lst.append(1567)

In [16]:
lst

['meena', 'varshini', 'vd', 'YUVI', 123, [1, 6, 7], 1567]

In [17]:
lst.copy()

['meena', 'varshini', 'vd', 'YUVI', 123, [1, 6, 7], 1567]

In [19]:
lst.count("vd")

1

In [20]:
lst.extend("123")

In [21]:
lst

['meena', 'varshini', 'vd', 'YUVI', 123, [1, 6, 7], 1567, '1', '2', '3']

In [22]:
lst.index("meena")

0

# DICTIONARY AND ITS DEFAULT FUNCTIONS.

In [25]:
dict={"name": "miya","age":21,"place":"chennai"}

In [26]:
dict

{'name': 'miya', 'age': 21, 'place': 'chennai'}

In [27]:
dict.get("name")

'miya'

In [30]:
dict.items()

dict_items([('name', 'miya'), ('age', 21), ('place', 'chennai')])

In [31]:
dict.copy()

{'name': 'miya', 'age': 21, 'place': 'chennai'}

In [32]:
type(dict)

dict

In [33]:
dict.keys()

dict_keys(['name', 'age', 'place'])

In [35]:
dict.clear()

In [36]:
dict

{}

# SETS AND ITS DEFAULT FUNCTIONS

In [37]:
ast={ 1,2,3,"ashy","@",1,2,3}

In [38]:
ast

{1, 2, 3, '@', 'ashy'}

In [39]:
ast.add(90)

In [40]:
ast

{1, 2, 3, 90, '@', 'ashy'}

In [41]:
ast1={90,3,2,1}

In [42]:
ast1.issubset(ast)

True

In [43]:
ast.discard(90)

In [44]:
ast

{1, 2, 3, '@', 'ashy'}

In [45]:
ast.issuperset(ast1)

False

In [46]:
ast.isdisjoint(ast1)

False

# TUPLE AND ITS DEFAULT FUNCTIONS

In [50]:
tuple = ("apple",123,"crenty","@")

In [51]:
tuple.count("@")

1

In [53]:
tuple.index(123)

1

# STRING AND ITS DEFAULT FUNCTIONS

In [54]:
print('Hello')

Hello

In [55]:
a = "Hello"
print(a)

Hello

In [56]:
b = "Hello, World!"
print(b[2:5])

llo

In [57]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [58]:
a = "Hello, World!"
print(len(a))

13

In [59]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [60]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!